*.o
*.d
*.a
*.dylib
*.so
*.bc
*.lto.*
test_math
/qwen_asr
venv/
venv312/
qwen3-asr-0.6b/
qwen3-asr-1.7b/
__pycache__/
.DS_Store
samples/extra
Qwen3-ASR
TODO.md
wakewords/
tools/compile_wakewords
*.dSYM
paligemma_test
libpaligemma_test.dylib
libpaligemma_test.so
paligemma_test
/kittentts
/kitten-tts-nano/
